* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d1c4e9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#to-do-list {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#to-do-input {
  border: none;
  background-color: #f5f5f5;
  padding: 0 16px;
  outline: none;
  height: 50px;
  font-size: 18px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#to-do-view {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

#to-do-view-list {
  height: 350px;
}

#to-do-result {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

#to-do-result-list {
  height: 400px;
  width: 300px;
}
