* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d1c4e9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0 16px;
  height: 50px;
  line-height: 50px;
}

#to-do-list {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#to-do-input {
  border: none;
  background-color: #f5f5f5;
  padding: 0 16px;
  outline: none;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.line {
  width: 90%;
  height: 1px;
  background-color: black;
  opacity: 0.3;
  margin: auto;
}

.listLine {
  width: 100%;
  height: 1px;
  background-color: #d1c4e9;
  margin: auto;
}

#to-do-view {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

#to-do-view-list {
  height: 350px;
  overflow-y: auto;
}

.iconBox {
  display: inline-block;
  float: right;
}

.toDoText {
  opacity: 0.5;
}

.addBtn {
  margin-right: 10px;
  background: transparent;
  border: none;
  color: #d1c4e9;
}

.addBtn:hover {
  cursor: pointer;
}

.removeBtn {
  background: transparent;
  border: none;
  color: #d1c4e9;
}

.removeBtn:hover {
  cursor: pointer;
}

.doneRemoveBtn {
  background: transparent;
  border: none;
  color: #d1c4e9;
}

.doneRemoveBtn:hover {
  cursor: pointer;
}

#done {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 16px;
}

#to-do-done {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

#to-do-done-list {
  height: 350px;
  width: 300px;
  overflow-y: auto;
}

#to-do-done-list .listLine {
  width: 100%;
}
