* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#showRandomBall {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

#option {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -40%);
}

.ball {
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin: 0 15px;
}
